# Python
__pycache__/
*.py[cod]
*.pyo
*.ipynb_checkpoints
.venv/
.env

# Données (jamais dans git normal)
data/raw/
data/processed/*.parquet
data/processed/*.csv
*.csv
*.tsv

# Streamlit
.streamlit/secrets.toml
.streamlit/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Logs / artefacts temporaires
logs/
